body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.orange-color {
  color: #ffad5a;
}
h1 {
  font-size: 60px;
}
#first-heading {
  font-family: "Yeseva One", cursive;
}
a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 20px 0px;
}
.section {
  display: flex;
  padding-left: 10%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
}
.half-width img {
  width: 80%;
}
.second-section {
  display: flex;
  align-items: center;
}
#illustrator-1 {
  padding: 40px;
  background-color: #4f9da6;
  margin: 80px;
  border-radius: 26px;
}
#illustrator-2 {
  padding: 40px;
  background-color: #ff5959;
  margin: 80px;
  border-radius: 26px;
}
#illustrator-3 {
  padding: 40px;
  background-color: #fff4d6;
  margin: 80px;
  border-radius: 26px;
}
.illustrator-slice img {
  width: 30%;
}
footer {
  text-align: center;
  background-color: black;
  height: 200px;
}
footer h1 {
  font-family: "Lobster", cursive;
  color: white;
  padding-top: 30px;
}
footer p {
  color: white;
}
